<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>

    <title th:text="#{stock.title}">Bestand</title>
</head>
<body>
<div class="ui container">
    <header>
        <h1 th:text="#{stock.title}">Bestand</h1>
    </header>
    <nav th:include="navigation :: navigation"></nav>

    <table class="ui celled table">
        <thead>
        <tr>
            <th th:text="#{cart.movieTitle}">Titel</th>
            <th th:text="#{cart.count}">Anzahl</th>

                    </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each=" item : ${stock}">
            <td th:text="${item.product.name}">Last Action Hero</td>
            <td th:text="${{item.quantity}}">9000</td>
 
            </td>
          
        </tr>
        <tr>
            <td>Last Action Hero</td>
            <td>9000</td>
        </tr>
        <tr>
            <td>Last Action Hero</td>
            <td>9000</td>
        </tr>
        </tbody>
    </table>
</div>
                <!-- RABATT -->
                <form class="ui reply form" role="form" th:action="@{/stock}" method="get">
                
                    <div class="newDisc" >
                    <p> neu Disc:</p>
                   
                     
                        <input type="hidden" name="pid" value="0" /> 
                        <div class="field">
                            <label for="number">name</label>
                            <input id="name" type="String" name="name"/><br/>
                            <label for="number">image</label>
                            <input id="image" type="String" name="name"/><br/>
                            <label for="number">price</label>
                            <input id="price" type="number" name="name" min="0" max="100" step="1" value="0"/><br/>
                            <label for="number">rabatt</label>
                            <input id="rabatt" type="number" name="name" min="0" max="100" step="1" value="0"/><br/>
                        </div>
                        <button type="submit" class="ui labeled icon button">
                         <span th:text="new_Disc"> Hinzufügen</span> 
                        </button>
                    
                </div>
                </form>
</body>
</html>